@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  --primary-bg: #1a1a29;
}

body {
  background: var(--primary-bg);
}

.w-700 {
  width: 700px;
}

.h-400 {
  height: 400px;
}

.he-90 {
  height: 90vh;
}

.he-600 {

  height: 600px;
}

.w-600 {

  width: 600px;
}

.text-area {

  border: 1px solid;
  resize: none;
  outline: none;
  padding: 0px 5px;
  width: 100%;
  border-radius: 5px;
}